body, p, ul, ol, li, dl, dt, dd, form, h1, h2, h3, h4, h5, h6, input {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
    border: 0;
    width: 100%;
}
a {
    text-decoration: none;
    color: #8c8c8c;
}
body {
    font: 12px/1.5 "Microsoft YaHei";
    color: #8c8c8c;
    background: #e7eaf1;
    padding-bottom: 50px;
}
/*hesder*/

.title {
    height: 40px;
    background: #f7403a;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    color: #fff;
}
/*banner*/
.banner {
    padding: 0;
}
/*Ô¤¸æÆÚ*/
.column {
    position: relative;
    height: 180px;
    background: #fff;
    margin-top: 20px;
    overflow: hidden;
}
.column-title {
    height:50px;
    border-bottom: 1px dashed #e8e8e8;
    line-height: 50px;
    font-size: 16px;
    color: #131313;
}
.column-title-rg {
    position: absolute;
    top: 10px;
    right: -50px;
    width: 150px;
    height: 30px;
    padding-left: 20px;
    border: 1px solid #f85158;
    border-radius: 40px;
    line-height: 30px;
    font-size: 16px;
    color: #f85158;
}
.column-content {
    height: 100%;
    margin: 0 auto;
}
.column-content li {
    float: left;
    /*width: 33.33%;*/
    text-align: center;
}
.column-content li div {
    margin-top: 30px;
    font-size: 30px;
    color: #ff9836;
}
.column-lu {
    font-size: 14px;
    color: #ff9836!important;
}
.column-content li span {
    font-size: 14px;
    color: #737373;
}
.column-clock {
    width: 90px;
    height: 90px;
    margin: 0 auto;
    margin-top: 20px!important;
    border: 3px solid #d4d4d4;
    border-radius: 50%;
    font-size: 24px!important;
    text-align: center;
}
.column-clock span{
    display: block;
    margin-top: 11px;
    color: #ff9836!important;
}
/*footer*/
.footer {
    height: 50px;
    background: #fff;
    box-shadow: 0 2px 5px #888888;
}
.footer-title {
    float: left;
    height: 100%;
    text-align: center;
}
.footer-title span {
    display: block;
    font-size: 18px;
}
.footer-title span img {
    width: 26px;
}
