/*圆周运动*/
@-webkit-keyframes yuanzhou {
  0% {
    transform: translate(10px, 0px);
  }
  3.33333333% {
    transform: translate(9.78147601px, 2.07911691px);
  }
  6.66666667% {
    transform: translate(9.13545458px, 4.06736643px);
  }
  10% {
    transform: translate(8.09016994px, 5.87785252px);
  }
  13.33333333% {
    transform: translate(6.69130606px, 7.43144825px);
  }
  16.66666667% {
    transform: translate(5px, 8.66025404px);
  }
  20% {
    transform: translate(3.09016994px, 9.51056516px);
  }
  23.33333333% {
    transform: translate(1.04528463px, 9.94521895px);
  }
  26.66666667% {
    transform: translate(-1.04528463px, 9.94521895px);
  }
  30% {
    transform: translate(-3.09016994px, 9.51056516px);
  }
  33.33333333% {
    transform: translate(-5px, 8.66025404px);
  }
  36.66666667% {
    transform: translate(-6.69130606px, 7.43144825px);
  }
  40% {
    transform: translate(-8.09016994px, 5.87785252px);
  }
  43.33333333% {
    transform: translate(-9.13545458px, 4.06736643px);
  }
  46.66666667% {
    transform: translate(-9.78147601px, 2.07911691px);
  }
  50% {
    transform: translate(-10px, 0px);
  }
  53.33333333% {
    transform: translate(-9.78147601px, -2.07911691px);
  }
  56.66666667% {
    transform: translate(-9.13545458px, -4.06736643px);
  }
  60% {
    transform: translate(-8.09016994px, -5.87785252px);
  }
  63.33333333% {
    transform: translate(-6.69130606px, -7.43144825px);
  }
  66.66666667% {
    transform: translate(-5px, -8.66025404px);
  }
  70% {
    transform: translate(-3.09016994px, -9.51056516px);
  }
  73.33333333% {
    transform: translate(-1.04528463px, -9.94521895px);
  }
  76.66666667% {
    transform: translate(1.04528463px, -9.94521895px);
  }
  80% {
    transform: translate(3.09016994px, -9.51056516px);
  }
  83.33333333% {
    transform: translate(5px, -8.66025404px);
  }
  86.66666667% {
    transform: translate(6.69130606px, -7.43144825px);
  }
  90% {
    transform: translate(8.09016994px, -5.87785252px);
  }
  93.33333333% {
    transform: translate(9.13545458px, -4.06736643px);
  }
  96.66666667% {
    transform: translate(9.78147601px, -2.07911691px);
  }
  100% {
    transform: translate(10px, 0px);
  }
}
@-webkit-keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  3.33333333% {
    transform: translate(2px, 2.07911691px);
  }
  6.66666667% {
    transform: translate(4px, 4.06736643px);
  }
  10% {
    transform: translate(6px, 5.87785252px);
  }
  13.33333333% {
    transform: translate(8px, 7.43144825px);
  }
  16.66666667% {
    transform: translate(10px, 8.66025404px);
  }
  20% {
    transform: translate(12px, 9.51056516px);
  }
  23.33333333% {
    transform: translate(14px, 9.94521895px);
  }
  26.66666667% {
    transform: translate(16px, 9.94521895px);
  }
  30% {
    transform: translate(18px, 9.51056516px);
  }
  33.33333333% {
    transform: translate(20px, 8.66025404px);
  }
  36.66666667% {
    transform: translate(22px, 7.43144825px);
  }
  40% {
    transform: translate(24px, 5.87785252px);
  }
  43.33333333% {
    transform: translate(26px, 4.06736643px);
  }
  46.66666667% {
    transform: translate(28px, 2.07911691px);
  }
  50% {
    transform: translate(30px, 0px);
  }
  53.33333333% {
    transform: translate(32px, -2.07911691px);
  }
  56.66666667% {
    transform: translate(34px, -4.06736643px);
  }
  60% {
    transform: translate(36px, -5.87785252px);
  }
  63.33333333% {
    transform: translate(38px, -7.43144825px);
  }
  66.66666667% {
    transform: translate(40px, -8.66025404px);
  }
  70% {
    transform: translate(42px, -9.51056516px);
  }
  73.33333333% {
    transform: translate(44px, -9.94521895px);
  }
  76.66666667% {
    transform: translate(46px, -9.94521895px);
  }
  80% {
    transform: translate(48px, -9.51056516px);
  }
  83.33333333% {
    transform: translate(50px, -8.66025404px);
  }
  86.66666667% {
    transform: translate(52px, -7.43144825px);
  }
  90% {
    transform: translate(54px, -5.87785252px);
  }
  93.33333333% {
    transform: translate(56px, -4.06736643px);
  }
  96.66666667% {
    transform: translate(58px, -2.07911691px);
  }
  100% {
    transform: translate(60px, 0px);
  }
}
